nav {
    height: 70px;
    background: rgba(255, 255, 255,0.6);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 200px;
    padding: 0px 300px 0 0;
    transition: .3s;
    box-sizing: border-box;
    width: 100%;
    /* box-shadow: 2px 2px 7px 2px #fff; */
    border-bottom: 2px solid greenyellow;
}

nav .nav-left {
    width: 50%;
    padding: 6px 0 0 10px;
}

nav .nav-right {
    padding: 6px 0 0 10px;
}

nav .nav-left {
    float: left;
}

nav .nav-left ul {
    list-style: none;
    /* margin: 0px 4px 3px 0px; */
    /* padding: 0px 3px 5px 1px; */
    display: flex;
}

nav .nav-left ul li {
    list-style: none;
    padding: 0px 10px;
}

nav .nav-left a.menu-btn {
    /* width: 40px; */
    /* height: 40px; */
    /* line-height: 40px; */
    color: #000;
    /* text-align: center; */
    /* padding: 0 !important; */
}

nav .nav-right {
    float: right;
}

nav .nav-right ul {
    list-style: none;
    margin: 0 0px 5px 0;
    padding: 0;
    display: flex;
}

nav .nav-right ul li {
    list-style: none;
    padding: 10px 15px;
}

nav .nav-right ul li a {
    text-decoration: none;
    transition: .3s;
    font-size: .8rem;
    color: #000;
    position: relative;
}

nav .nav-right ul li a li:hover {
    color: #000;
}

nav .nav-right ul li a.active {
    width: 120px;
    height: 80px;
    background: #5458;
}

nav .nav-right ul li a:focus {
    outline: none;
}

nav .nav-right ul li a:hover {
    text-decoration: none;
    color: #fff;
}

nav .badge {
    position: absolute;
    top: -9px;
    right: -18px;
    border-radius: 0;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-info {
    background-color: #17a2b8;
}

input[type="search"].search-box {
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    background: transparent;
    background-position: 1px 0px;
    background-repeat: no-repeat;
    padding: 12px 0px 10px 7px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search].search-box:focus {
    width: 100%;
}

.no-nav-wrapper {
    left: 70px;
}