.login-wrapper {
    margin: 0;
    padding: 0;
    background: url(../../../images/68599044-school-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 635px;
    overflow: hidden;
}

.login-box {
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    top: 80px;
    left: 80%;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px #000;
    transform: translate(-10%, 5%);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: calc( 50% - 50px);
}

.login-box input{
    width: 95%;
    margin: 50px 0px 0px 6px;
}

.login-box h1{
    color: #fff;
    letter-spacing: 0.3rem;
    margin: 0;
    padding: 40px 0px 0px 63px;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

.login-box input[type="text"].userbox-box {
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color:#fff;
    background: transparent;
    padding: 12px 0px 10px 7px;
}
::placeholder{
    color:rgba(255,255,255,0.9);
}

.login-box input[type="password"].password-box {
    height: 40px;
    border: none;
    outline: none;
    color:#fff;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding: 12px 0px 10px 7px;
}

.login-box input[type="submit"].login-button {
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    color:#fff;
    background: #000;
    font-size: 15px;

}