
.card-green{
    border-color:#5cb85c!important;
}

.card-green .card-header{
    border-color: #5cb85c;
    color: #fff;
    background: linear-gradient(60deg, #5cb85c, #048304);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card-green .card-footer{
    border-color: #5cb85c;
    color: #fff;
    background: linear-gradient(60deg, #5cb85c, #048304);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card-red{
    border-color:red!important;
}

.card-red .card-header{
    border-color: red;
    color: #fff;
    background: linear-gradient(60deg, #FF5733, rgb(216, 56, 20));
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card-orange{
    border-color:#ffa726!important;
}
.card-orange .card-header{
    border-color: #ffa726;
    color: #fff;
    
    background: linear-gradient(60deg, #ffa726, #a75e05);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card-orange .card-footer{
    border-color: #ffa726;
    color: #fff;
    
    background: linear-gradient(60deg, #ffa726, #a75e05);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}


.card-blue{
    border-color:#3498DB!important;
}
.card-blue .card-header{
    border-color: #3498DB;
    color: #fff;
    
    background: linear-gradient(60deg, #3498DB, rgb(7, 62, 99));
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card-blue .card-footer{
    border-color: #3498DB;
    color: #fff;
    
    background: linear-gradient(60deg, #3498DB, rgb(7, 62, 99));
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}


.card-blue a {
    color: #3498DB;
}

.card-blue a:hover {
    color: #3498DB;
}



